# cmake build directory
build/

# ignore everything in bin except "official" Makefiles
bin/*
!bin/Makefile

# ignore utils executables
utils/f90/*
!utils/f90/*.f90
*.mod

# ignore python cache files
utils/py/*
!utils/py/*.py
*__pycache__*

# ignore editor settings
.vscode
*.sw[a-z]

# Mac stuff
.DS_Store

# Ignore outputs for now
output_[0-9][0-9][0-9][0-9][0-9]/
*.log
*.out
CLAUDE.md
*.nsys-rep
*.ncu-rep
*.sqlite
